.App {
  margin: 1rem;
}

.text-ctr {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.err {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.display-flex {
  display: flex;
  align-items: center;
}

.btn-add {
  height: fit-content;
  margin-left: 1rem;
}

.job-label {
  font-weight: bold;
}

.mr-1 {
  margin-top: 1rem;
}

.error-message {
  color: red;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.error-message.hidden {
  opacity: 0;
}

.error-message.visible {
  opacity: 1;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid grey;
  padding: 0.5rem;
}

button:disabled {
  cursor: not-allowed;
}
